@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="row">
	<div class="col-md-3">
		<h2>Application uses</h2>
		<ul>
			<li>List all Items in custody of the service</li>
			<li>Create a new item</li>
			<li>Update an existing item</li>
			<li>Delete an existing item</li>
		</ul>
	</div>
</div>
